/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {
    --primary: #e50914;
    --secondary: rgba(0, 0, 0, 0.65);
    --grey: rgba(61, 61, 61, 0.65);
    --bg-3: rgba(3, 3, 3, 0.8);
    --bg-4: rgba(3, 3, 3, 0.9);
    --bg-5: #000000;
    --bg-6: rgba(3, 3, 3, 0.5);

    --clr-1: rgba(131, 131, 131);
    --clr-2: rgb(214, 214, 214);
    --clr-3: rgba(131, 131, 131, 1);
}


body {
    background: url(/static/img/bg.jpg);
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
}


/* Colors */
.bg-overlay {
    background: var(--secondary);
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 100%;
}
