{% extends 'layouts/main.html' %}

{% block title %}Cinlist - List your favorite movies, series, shows and more{% endblock %}

{% block content %}
<div class="bg-overlay">

    <div class="d-flex w-100 align-items-center justify-content-center" style="height: 75vh">
        <div class="text-center text-light">
            <h1 class="fw-bold">List your favorite movies, series, shows and more</h1>
            <div class="pt-5">
                <div class="text-light h4">
                    create your account to get started
                </div>
            </div>
            <a href="/signup">
                <button class="mt-4 btn btn-primary w-75 py-2">
                    <div class="d-inline-flex">
                        <i class="ri-login-box-line"></i>
                        &nbsp;&nbsp;&nbsp;Sign Up
                    </div>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}